.review {
    width: 60%;
    margin: auto;
    &__header {
        background-color: white;
        width: 100%;
        height: 50vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        color: var(--dark);
        text-transform: uppercase;
        font-weight: 600;
        flex-flow: column;
    }
    &__title {
        font-size: 6rem;
    }
    &__subtitle {
        font-size: 2rem;
        text-transform: capitalize;
    }
    &__headerImage {
        width: 100%;
        & img {
            width: 100%;
            display: block;
        }
    }
    &__section {
        display: flex;
        justify-content: space-between;
        margin: 100px 0;
        & > div {
            width: 50%;
        }
        & img {
            display: block;
            width: 100%;
        }
    }
    &__product {
        display: flex;
        align-items: center;
        color: var(--dark);
    }
    & button {
        border: none;
        background-color: var(--light-black);
        color: #fff;
        padding: 5px 20px;
        cursor: pointer;
    }
    &__item {
        text-align: center;
        &__name {
            font-size: 1.5em;
        }
        &__price {
            font-size: 1.3em;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
}
