.cart {
    position: fixed;
    top: 90px;
    right: -50%;
    z-index: 1000;
    width: 40vw;
    height: calc(100vh - 90px);
    background-color: #f1f1f1;
    padding: 1.5rem 3rem;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.show {
        right: 0;
    }
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        text-align: center;
        font-size: 1.2rem;
        z-index: 10001;
    }
    &__info {
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__checkout {
        display: inline-block;
        color: #f1f1f1;
        background: var(--light-black);
        padding: 0.5rem 1.5rem;
        margin-bottom: 0.5rem;
    }
    &__total {
        font-size: 1.2rem;
        font-weight: 500;
    }
    &__empty {
        & h1 {
            font-size: 1.4rem;
            text-align: center;
        }
    }
    &__close {
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}
