.jewelry{
    padding: 8rem 0;
    max-width: 1400px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    &__container{
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 6rem;
    }
    &__left{
        position: relative;
        height: 450px;
        &__image1{
            width: 380px;
            height: 450px;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &__image2{
            position: absolute;
            width: 200px;
            height: 200px;
            object-fit: cover;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__right{
        text-align: right;
        align-self: center;
    }
    &__text{
        font-size: 2.5rem;
        color: #444;
    }
    &__title{
        font-size: 4.5rem;
        font-weight: 400;
        padding: .2rem 1.5rem;
        color: #fff;
        background-color: var(--light-black);
    }
    &__link{
        margin-top: 4rem;
        & > a {
            color: #f1f1f1;
            background: var(--light-black);
            font-size: 1.5rem;
            padding: .5rem 1rem;
            margin-bottom: 1rem;
            display: inline-block;
            margin-bottom: 1rem;
        }
    }

}