.new{
    padding: 5rem 0;
    max-width: 1400px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    &__title{
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        color: #555;
        margin-bottom: 4rem;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}