.cartItem {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    margin-top: 1rem;
    &__img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }
    &__title {
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__info {
        max-width: 300px;
    }
    &__addCart {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__form {
        display: flex;
        align-items: center;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        & input {
            text-align: center;
            width: 35px;
            height: 100%;
            outline: 0;
            padding: 0.2rem;
            border: 0;
        }
        & div {
            height: 100%;
            background: #d8d5d5;
            padding: 0.1rem 0.4rem;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                background: #959595;
            }
        }
    }
    &__icon {
        font-size: 0.6rem;
        color: #ffff;
    }
    &__price,
    &__totalPrice {
        font-weight: 500;
    }
    &__remove {
        border-radius: 50%;
        background: #d8d5d5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            background: #959595;
        }
        &Icon {
            font-size: 0.8rem;
            color: #ffff;
        }
    }
}
