.footer {
  padding: 8rem 6rem;
  background: var(--light-black);
  color: #c5c4c4;
  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
  }
  &__brand {
    text-align: center;
    padding-right: 6rem;
  }
  &__title {
    font-size: 2.5rem;
    font-family: var(--mainFont);
    font-weight: 400;
  }
  &__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  &__text {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }
  &__box__title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  &__social {
    margin-bottom: 1rem;
    &__icon {
      font-size: 1.2rem;
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}
