@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Fira Sans";
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --light-black: #272727;
    --orange: rgb(219, 119, 76);
    --yellow: #ecc86c;
    --light-gray: #c8c8c8;
    --dark: #3f3e3e;
    --mainFont: "Lobster";
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
    margin-bottom: 4rem;
}

img {
    max-width: 100%;
}

.hasShadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
